@model IEnumerable<DynamicNavigationMVC.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Categories</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="categoryTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <script>
        $(document).ready(function () {
            if (!$.fn.DataTable.isDataTable('#categoryTable')) {
                $('#categoryTable').DataTable({
                    "columnDefs": [
                        { "width": "10%", "targets": 0 },
                        { "width": "60%", "targets": 1 }
                        
                    ]
                });
            }
        });
    </script>
}